.mainWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  flex: 2;
}

.content h2 {
  font-size: 54px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  color: #ff5d01;
}

.content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #60b84b;
  padding-top: 20px;
}

.content p a {
  color: #1a5fff;
  font-weight: 600;
  font-size: 30px;
  text-decoration: dashed underline;
  text-underline-offset: 4px;
}

.content p span {
  color: #474444;
  font-weight: 600;
  font-size: 30px;
}
